## Data Cleaning, Describing, and Visualization

### Step 1 - Get your environment setup

1. Install Git on your computer and fork the class repository on [Github](https://github.com/tfolkman/byu_econ_applied_machine_learning).
2. Install [Anaconda](https://conda.io/docs/install/quick.html) and get it working.

### Step 2 - Explore Datasets

The goals of this project are:

1. Read in data from multiple sources
2. Gain practice cleaning, describing, and visualizing data

To this end, you need to find from three different sources. For example: CSV, JSON, and API, SQL, or web scraping. For each of these data sets, you must perform the following:

1. Data cleaning. Some options your might consider: handle missing data, handle outliers, scale the data, convert some data to categorical.
2. Describe data. Provide tables, statistics, and summaries of your data.
3. Visualize data. Provide visualizations of your data.

These are the typical first steps of any data science project and are often the most time consuming. My hope is that in going through this process 3 different times, that you will gain a sense for it.

Also, as you are doing this, please tell us a story. Explain in your notebook why are doing what you are doing and to what end. Telling a story in your analysis is a crucial skill for data scientists. There are almost an infinite amount of ways to analyze a data set; help us understand why you choose your particular path and why we should care.

Also - this homework is very open-ended and we provided you with basically no starting point. I realize this increases the difficulty and complexity, but I think it is worth it. It is much closer to what you might experience in industry and allows you to find data that might excite you!

### Data 1

In [3]:
import pandas as pd

In [4]:
data1 = pd.read_csv('')

In [9]:
data1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
data1.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [8]:
data1.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
data1.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

### Data 2

In [7]:
import os
os.chdir('C:\\Users\\iriley\\Google Drive\\B. Asistente de investigación\\Dr. Baum\\###SACMEQ. PASEC private school analysis\\Data\\PASEC data\\PASEC 2014\\Data')
os.listdir()

['desktop.ini',
 'PASEC2014_GRADE2-SPSS.sav',
 'PASEC2014_GRADE2.dta',
 'PASEC2014_GRADE6-SPSS.sav',
 'PASEC2014_GRADE6.dta']

In [9]:
data2 = pd.read_stata('PASEC2014_GRADE6.dta')

In [10]:
data2.head()

,ID_PAYS,PAYS,ID_TOT,ID_ECOLE,ID_ELEVE,ID_STRATE,ID_LIVRET,LECT_PV1,LECT_PV2,LECT_PV3,...,rwgt81,rwgt82,rwgt83,rwgt84,rwgt85,rwgt86,rwgt87,rwgt88,rwgt89,rwgt90
0,1,BENIN,0101100102,011001,02,BEN:Atacora-Donga,A,566.397583,499.803650,492.445557,...,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889
1,1,BENIN,0101100106,011001,06,BEN:Atacora-Donga,B,544.891785,515.615479,537.782715,...,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889
2,1,BENIN,0101100107,011001,07,BEN:Atacora-Donga,B,669.836487,747.771667,752.336670,...,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889
3,1,BENIN,0101100111,011001,11,BEN:Atacora-Donga,C,722.919250,774.398743,779.477539,...,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889
4,1,BENIN,0101100112,011001,12,BEN:Atacora-Donga,C,621.764648,604.541443,580.500854,...,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889,23.263889

In [11]:
data2.describe()

,ID_PAYS,LECT_PV1,LECT_PV2,LECT_PV3,LECT_PV4,LECT_PV5,MATHS_PV1,MATHS_PV2,MATHS_PV3,MATHS_PV4,...,rwgt81,rwgt82,rwgt83,rwgt84,rwgt85,rwgt86,rwgt87,rwgt88,rwgt89,rwgt90
count,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,...,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000,31213.000000
mean,5.358056,498.126648,498.336243,498.061615,498.082611,498.086853,498.721802,498.739624,498.593811,498.400635,...,64.913628,65.013405,65.073517,65.086029,65.062080,65.073898,65.046227,65.063942,65.074043,65.094604
std,2.863777,98.568680,98.082939,98.357216,98.483498,98.336494,99.938622,99.853416,99.796074,99.748383,...,60.136086,60.327938,60.328693,60.339352,60.231697,60.251076,60.237564,60.232182,60.252689,60.212868
min,1.000000,79.725060,68.189354,79.354782,90.684532,42.610943,90.900574,117.043015,45.529194,81.243835,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,426.925720,428.211792,427.204987,427.459412,426.866791,426.106476,426.034485,425.481415,425.925934,...,30.018551,30.112415,30.152498,30.255133,30.187500,30.255133,30.112415,30.200686,30.255133,30.255133
50%,5.000000,496.688843,497.100281,496.635712,497.041718,496.913940,495.073425,495.382111,495.555603,495.418884,...,48.529591,48.434734,48.575741,48.644646,48.575741,48.575741,48.652691,48.644646,48.575741,48.652691
75%,8.000000,564.155518,564.057983,564.261841,564.316284,563.944397,568.470520,568.328308,568.302551,568.005859,...,80.875084,80.662575,80.662575,80.636955,80.662575,80.662575,80.490936,80.662575,80.636955,80.662575
max,10.000000,858.717163,865.001892,868.793213,860.535706,871.814514,912.209351,888.806763,922.163452,886.264771,...,752.774475,752.774475,752.774475,752.774475,752.774475,752.774475,752.774475,752.774475,752.774475,752.774475

### Data 3

In [22]:
import requests
import re

Now I define functions to scrape and clean the data I will eventually scrape.

In [25]:
def scraper(lang, vidid):
    '''
    Scrapes YouTube subtitles from Google's online 
    subtitle repository, using the video ID.
    '''
    address = 'http://video.google.com/timedtext?lang=%s&v=%s' % (lang, vidid)
    return requests.get(address).text


def ytcleaner(html):
    '''
   Process subtitle xml text scraped from the web
    '''
    html2 =  re.sub('" dur=".*?">', '_spl_', html)
    html3 = re.sub('<.*?="', '_n_', html2)
    html4 = re.sub('<.*?>', '', html3)
    html5 = re.sub('\n', '', html4)
    html6 = re.sub('_n_', '\n', html5[3:])
    html7 = re.sub('&quot;', '"', html6)
    anntext = re.sub('&#39;', "'", html7)
    return anntext


def plaintext(html):
    '''
    Process subtitle xml text to return a plain text file
    '''
    html2 =  re.sub('" dur=".*?">', '\t', html)
    html3 = re.sub('<.*?="', '_n_', html2)
    html4 = re.sub('<.*?>', '', html3)
    html5 = re.sub('\n', '', html4)
    html6 = re.sub('_n_', '\n', html5[3:])
    html7 = re.sub('&quot;', '"', html6)
    anntext = re.sub('&#39;', "'", html7)
    return anntext

In [20]:
html1 = scraper('en', 'wHWbZmg2hzU')
print(html1)

<?xml version="1.0" encoding="utf-8" ?><transcript><text start="5.4" dur="2.81">The challenge begins with how to pronounce
his name.</text><text start="8.21" dur="3.44">The first bit should sound like ‘Knee’, the second like ‘cha’</text><text start="11.65" dur="1.21">Knee – cha.</text><text start="12.86" dur="3.76">Then we need to get past some of his extraordinary
and provocative statements:</text><text start="16.62" dur="1.76">‘What doesn’t kill me makes
me stronger’</text><text start="18.39" dur="2.68">‘God is dead! And we have killed him.&amp;#39;</text><text start="21.07" dur="1.26">And his large moustache.</text><text start="22.33" dur="4.63">But when we do, we’ll discover a thinker
who is intermittently enchanting, wise and</text><text start="26.96" dur="1.549">very helpful.</text><text start="28.509" dur="4.481">Friedrich Nietzsche was born in 1844 in a
quiet village in the eastern part of Germany</text><text start="32.99" dur="2.13">where his father was the priest.</text><text start="35.12" dur="3.35">He did exceptionally well at school and university and so excelled at</text><text start="38.47" dur="2.06">ancient Greek that he was made a professor</text><text start="40.53" dur="1.52">at the University of Basel</text><text start="42.05" dur="2.34">when still only in his mid-twenties.</text><text start="44.39" dur="4.2">But his official career didn’t work out.
He got fed up with his fellow academics, gave</text><text start="48.59" dur="3.27">up his job and moved to Sils Maria in the
Swiss alps</text><text start="51.86" dur="2.71">where he lived quietly, working on his masterpieces,</text><text start="54.57" dur="0.77">among them:</text><text start="55.34" dur="1.88">The Birth of Tragedy,
Human, All Too Human,</text><text start="57.22" dur="2.04">The Gay Science, Thus Spoke Zarathustra,</text><text start="59.26" dur="2.7">Beyond Good and Evil,
On the Genealogy of Morals,</text><text start="61.96" dur="2.82">He had lots of problems:
- he didn’t get on with his family:</text><text start="64.78" dur="3.819">&amp;#39;I don’t like my mother and it’s painful
even for me to hear my sister’s voice.’</text><text start="68.599" dur="2.191">- women kept rejecting him.
- his books didn’t sell</text><text start="70.79" dur="4.57">- And when he was only forty-four, he had
a mental breakdown, precipitated when he saw</text><text start="75.36" dur="3.03">a horse in a Turin street being beaten by its driver</text><text start="78.39" dur="4.35">and ran over to embrace him shouting
&amp;#39;I understand you&amp;#39;. He never recovered and</text><text start="82.74" dur="2.96">died eleven sad years later.</text><text start="85.7" dur="3.2">But his philosophy was full of heroism and
grandeur.</text><text start="88.909" dur="3.051">He was a prophet of what he called: SELBSTÜBERWINDUNG</text><text start="91.96" dur="3.5">or SELF-OVERCOMING, the process by which a great-souled</text><text start="95.46" dur="2.46">person - what he called an ÜBERMENSCH </text><text start="97.92" dur="3.059">rises above their
circumstances and difficulties to embrace</text><text start="100.979" dur="2.281">whatever life throws at them.</text><text start="103.26" dur="4.95">He wanted his work to teach us, as he put
it, ‘how to become who we really are’.</text><text start="108.21" dur="4.3">His thought centers around 4 main recommendations:</text><text start="113.18" dur="1.799">Own up to envy</text><text start="114.979" dur="4.231">Envy is – Nietzsche recognised – a big
part of life. Yet the lingering effects of</text><text start="119.21" dur="2.78">Christianity generally teaches to be feel ashamed</text><text start="121.99" dur="2.09">of our envious feelings. They seem an</text><text start="124.08" dur="3.8">indication of evil. So we hide them from ourselves
and others</text><text start="128.22" dur="4.53">Yet there is nothing wrong with envy, maintained
Nietzsche, so long as we use it as a guide</text><text start="132.75" dur="5.139">to what we really want. Every person who makes
us envious should be seen as an indication</text><text start="137.889" dur="4.35">of what we could one day become. The envy-inducing
writer, tycoon</text><text start="142.239" dur="4.18">or chef is hinting at who you are capable of one day being.</text><text start="146.419" dur="3.98">It&amp;#39;s not that Nietzsche believed we always end up getting what we want. His own life</text><text start="150.409" dur="4.34">had taught him this well enough). He simply
insisted that we must face up to our true</text><text start="154.749" dur="5.58">desires, put up a heroic fight to honour them,
and only then mourn failure with solemn dignity.</text><text start="160.329" dur="2.8">That is what it means to be an ÜBERMENSCH</text><text start="163.129" dur="2.321">2. Don’t be a Christian</text><text start="165.45" dur="2.75">Nietzsche had some extreme things to say about Christianity</text><text start="168.2" dur="2.519">‘In the entire New Testament, there</text><text start="170.719" dur="4.68">is only person worth respecting: Pilate, the
Roman governor.’</text><text start="175.4" dur="5">It was knockabout stuff, but his true target
was more subtle and more interesting: he resented</text><text start="180.4" dur="4.319">Christianity for protecting people from their
envy.</text><text start="184.719" dur="4.03">Christianity had in Nietzsche’s account
emerged in the late Roman Empire</text><text start="188.749" dur="2.92">in the minds of timid slaves, who had lacked the stomach</text><text start="191.669" dur="2.29">to get hold of what they really wanted </text><text start="193.959" dur="4.26">and so had clung to a philosophy that made a virtue of their cowardice.</text><text start="198.23" dur="2.64">He called this SKLAVENMORAL</text><text start="200.87" dur="4.349">Christians - whom he rather rudely termed
DIE HEERDE, the herd - had wished to</text><text start="205.219" dur="4.321">enjoy the real ingredients of fulfilment (a
position in the world, sex,</text><text start="209.54" dur="1.72">intellectual mastery, creativity)</text><text start="211.26" dur="2.679">but had been too inept
to get them.</text><text start="213.939" dur="2.961">They had therefore fashioned a hypocritical
creed denouncing what</text><text start="216.9" dur="2.349">they wanted but were too weak to fight for</text><text start="219.249" dur="2.39"> – while praising what they did not want but happened</text><text start="221.639" dur="3.88">to have. So, in the Christian value system, sexlessness</text><text start="225.519" dur="4.84">turned into purity [show text changing] weakness
became goodness, submission-to-people-one-hates</text><text start="230.359" dur="5.44">became obedience and, in Nietzsche’s phrase,
“not-being-able-to-take-revenge” turned</text><text start="235.8" dur="1.78">into “forgiveness.”</text><text start="237.82" dur="3.779">Christianity amounted to a giant machine for
bitter denial.</text><text start="242.22" dur="2.5">3. Never drink alcohol</text><text start="244.849" dur="4.31">Nietzsche himself drank only water – and
as a special treat, milk. And he thought we</text><text start="249.159" dur="2.81">should do likewise. He wasn’t making a small,</text><text start="251.969" dur="4.311">eccentric dietary point. The idea went to
the heart of his philosophy, as contained</text><text start="256.28" dur="4.96">in his declaration: ‘There have been two
great narcotics in European civilisation:</text><text start="261.24" dur="2.46">Christianity and alcohol.’</text><text start="263.7" dur="4.68">He hated alcohol for the very same reasons
that he scorned Christianity: because both</text><text start="268.389" dur="4.81">numb pain, and both reassure us that things
are just fine as they are, sapping us of the</text><text start="273.199" dur="4.391">will to change our lives for the better. A
few drinks usher in a transient feeling of</text><text start="277.59" dur="4.5">satisfaction that can get fatally in the way
of taking the steps necessary to improve our</text><text start="282.09" dur="1.389">lives.</text><text start="283.479" dur="4.981">Nietzsche was obsessed with the awkward truth
that getting really valuable things done hurts.</text><text start="288.46" dur="4.62">“How little you know of human happiness
- you comfortable people” he wrote</text><text start="293.08" dur="2.929">“The secret of a fulfilled life is: live</text><text start="296.009" dur="4.41">dangerously! Build your cities on the slopes
of Mount Vesuvius!”</text><text start="300.68" dur="2.46">4. “God is Dead”</text><text start="303.14" dur="4.58">Nietzsche’s dramatic assertion that God
is dead is not, as it’s often taken to be,</text><text start="307.72" dur="2.92">some kind of a celebratory statement.</text><text start="310.64" dur="4.2">Despite his reservations about Christianity,
Nietzsche did not think that the end of belief</text><text start="314.849" dur="2.08">was anything to cheer about.</text><text start="316.929" dur="5.031">Religious beliefs were false, he knew; but
he observed that they were very beneficial</text><text start="321.96" dur="3.1">in the sense of helping us cope with the problems
of life.</text><text start="325.2" dur="5.02">Nietzsche felt that the gap left by religion
should ideally be filled by Culture (he meant:</text><text start="330.22" dur="4.48">philosophy, art, music, literature): Culture should replace Scripture.</text><text start="334.7" dur="4.9">However, Nietzsche was deeply suspicious of
the way his own era was handling culture.</text><text start="339.61" dur="2.39">He believed the universities were killing the humanities,</text><text start="342" dur="2.8">turning them into dry academic exercises,</text><text start="344.8" dur="3.1">rather than using them for what they were always meant to be:</text><text start="347.9" dur="1.799">guides to life. He admired</text><text start="349.699" dur="3.981">the way the Greeks had used tragic drama in a practical, therapeutic way,</text><text start="353.68" dur="4.97">as an occasion for catharsis and moral education
– and wished his own age to be comparably</text><text start="358.65" dur="1.139">ambitious.</text><text start="359.789" dur="3.791">He called for a reformation, in which people
– newly conscious of the crisis brought</text><text start="363.58" dur="4.38">on by the end of faith – would fill the
gaps created by the disappearance of religion</text><text start="367.96" dur="2.8">with philosophy and art.</text><text start="370.96" dur="4.72">Every era faces particular psychological challenges,
thought Nietzsche, and it is the task of the</text><text start="375.689" dur="3.311">philosopher to identify, and help solve, these.</text><text start="379" dur="2.939">For Nietzsche, the 19th century was reeling under the impact</text><text start="381.939" dur="2.641">of two developments: Mass Democracy </text><text start="384.58" dur="1.889">and Atheism. The first</text><text start="386.469" dur="4.151">threatened to unleash torrents of undigested
envy; the second to</text><text start="390.62" dur="2.78">leave humans without guidance or morality.</text><text start="393.4" dur="4.46">In relation to both challenges, Nietzsche
remains our endearing, fascinating often loveable</text><text start="397.86" dur="2.94">and moustachioed guide.</text></transcript>

In [23]:
print(ytcleaner(html1))

1.0" encoding="utf-8" ?>
5.4_spl_The challenge begins with how to pronouncehis name.
8.21_spl_The first bit should sound like ‘Knee’, the second like ‘cha’
11.65_spl_Knee – cha.
12.86_spl_Then we need to get past some of his extraordinaryand provocative statements:
16.62_spl_‘What doesn’t kill me makesme stronger’
18.39_spl_‘God is dead! And we have killed him.&amp;#39;
21.07_spl_And his large moustache.
22.33_spl_But when we do, we’ll discover a thinkerwho is intermittently enchanting, wise and
26.96_spl_very helpful.
28.509_spl_Friedrich Nietzsche was born in 1844 in aquiet village in the eastern part of Germany
32.99_spl_where his father was the priest.
35.12_spl_He did exceptionally well at school and university and so excelled at
38.47_spl_ancient Greek that he was made a professor
40.53_spl_at the University of Basel
42.05_spl_when still only in his mid-twenties.
44.39_spl_But his official career didn’t work out.He got fed up with his fellow academics, gave
48.59_spl_up his job and moved to Sils Maria in theSwiss alps
51.86_spl_where he lived quietly, working on his masterpieces,
54.57_spl_among them:
55.34_spl_The Birth of Tragedy,Human, All Too Human,
57.22_spl_The Gay Science, Thus Spoke Zarathustra,
59.26_spl_Beyond Good and Evil,On the Genealogy of Morals,
61.96_spl_He had lots of problems:- he didn’t get on with his family:
64.78_spl_&amp;#39;I don’t like my mother and it’s painfuleven for me to hear my sister’s voice.’
68.599_spl_- women kept rejecting him.- his books didn’t sell
70.79_spl_- And when he was only forty-four, he hada mental breakdown, precipitated when he saw
75.36_spl_a horse in a Turin street being beaten by its driver
78.39_spl_and ran over to embrace him shouting&amp;#39;I understand you&amp;#39;. He never recovered and
82.74_spl_died eleven sad years later.
85.7_spl_But his philosophy was full of heroism andgrandeur.
88.909_spl_He was a prophet of what he called: SELBSTÜBERWINDUNG
91.96_spl_or SELF-OVERCOMING, the process by which a great-souled
95.46_spl_person - what he called an ÜBERMENSCH
97.92_spl_rises above theircircumstances and difficulties to embrace
100.979_spl_whatever life throws at them.
103.26_spl_He wanted his work to teach us, as he putit, ‘how to become who we really are’.
108.21_spl_His thought centers around 4 main recommendations:
113.18_spl_Own up to envy
114.979_spl_Envy is – Nietzsche recognised – a bigpart of life. Yet the lingering effects of
119.21_spl_Christianity generally teaches to be feel ashamed
121.99_spl_of our envious feelings. They seem an
124.08_spl_indication of evil. So we hide them from ourselvesand others
128.22_spl_Yet there is nothing wrong with envy, maintainedNietzsche, so long as we use it as a guide
132.75_spl_to what we really want. Every person who makesus envious should be seen as an indication
137.889_spl_of what we could one day become. The envy-inducingwriter, tycoon
142.239_spl_or chef is hinting at who you are capable of one day being.
146.419_spl_It&amp;#39;s not that Nietzsche believed we always end up getting what we want. His own life
150.409_spl_had taught him this well enough). He simplyinsisted that we must face up to our true
154.749_spl_desires, put up a heroic fight to honour them,and only then mourn failure with solemn dignity.
160.329_spl_That is what it means to be an ÜBERMENSCH
163.129_spl_2. Don’t be a Christian
165.45_spl_Nietzsche had some extreme things to say about Christianity
168.2_spl_‘In the entire New Testament, there
170.719_spl_is only person worth respecting: Pilate, theRoman governor.’
175.4_spl_It was knockabout stuff, but his true targetwas more subtle and more interesting: he resented
180.4_spl_Christianity for protecting people from theirenvy.
184.719_spl_Christianity had in Nietzsche’s accountemerged in the late Roman Empire
188.749_spl_in the minds of timid slaves, who had lacked the stomach
191.669_spl_to get hold of what they really wanted
193.959_spl_and so had clung to a philosophy that made a virtue of their cowardice.
198.23_spl_He called this SKLAVENMORAL
200.87_spl_Christians - whom he rather rudely termedDIE HEERDE, the herd - had wished to
205.219_spl_enjoy the real ingredients of fulfilment (aposition in the world, sex,
209.54_spl_intellectual mastery, creativity)
211.26_spl_but had been too ineptto get them.
213.939_spl_They had therefore fashioned a hypocriticalcreed denouncing what
216.9_spl_they wanted but were too weak to fight for
219.249_spl_ – while praising what they did not want but happened
221.639_spl_to have. So, in the Christian value system, sexlessness
225.519_spl_turned into purity [show text changing] weaknessbecame goodness, submission-to-people-one-hates
230.359_spl_became obedience and, in Nietzsche’s phrase,“not-being-able-to-take-revenge” turned
235.8_spl_into “forgiveness.”
237.82_spl_Christianity amounted to a giant machine forbitter denial.
242.22_spl_3. Never drink alcohol
244.849_spl_Nietzsche himself drank only water – andas a special treat, milk. And he thought we
249.159_spl_should do likewise. He wasn’t making a small,
251.969_spl_eccentric dietary point. The idea went tothe heart of his philosophy, as contained
256.28_spl_in his declaration: ‘There have been twogreat narcotics in European civilisation:
261.24_spl_Christianity and alcohol.’
263.7_spl_He hated alcohol for the very same reasonsthat he scorned Christianity: because both
268.389_spl_numb pain, and both reassure us that thingsare just fine as they are, sapping us of the
273.199_spl_will to change our lives for the better. Afew drinks usher in a transient feeling of
277.59_spl_satisfaction that can get fatally in the wayof taking the steps necessary to improve our
282.09_spl_lives.
283.479_spl_Nietzsche was obsessed with the awkward truththat getting really valuable things done hurts.
288.46_spl_“How little you know of human happiness- you comfortable people” he wrote
293.08_spl_“The secret of a fulfilled life is: live
296.009_spl_dangerously! Build your cities on the slopesof Mount Vesuvius!”
300.68_spl_4. “God is Dead”
303.14_spl_Nietzsche’s dramatic assertion that Godis dead is not, as it’s often taken to be,
307.72_spl_some kind of a celebratory statement.
310.64_spl_Despite his reservations about Christianity,Nietzsche did not think that the end of belief
314.849_spl_was anything to cheer about.
316.929_spl_Religious beliefs were false, he knew; buthe observed that they were very beneficial
321.96_spl_in the sense of helping us cope with the problemsof life.
325.2_spl_Nietzsche felt that the gap left by religionshould ideally be filled by Culture (he meant:
330.22_spl_philosophy, art, music, literature): Culture should replace Scripture.
334.7_spl_However, Nietzsche was deeply suspicious ofthe way his own era was handling culture.
339.61_spl_He believed the universities were killing the humanities,
342_spl_turning them into dry academic exercises,
344.8_spl_rather than using them for what they were always meant to be:
347.9_spl_guides to life. He admired
349.699_spl_the way the Greeks had used tragic drama in a practical, therapeutic way,
353.68_spl_as an occasion for catharsis and moral education– and wished his own age to be comparably
358.65_spl_ambitious.
359.789_spl_He called for a reformation, in which people– newly conscious of the crisis brought
363.58_spl_on by the end of faith – would fill thegaps created by the disappearance of religion
367.96_spl_with philosophy and art.
370.96_spl_Every era faces particular psychological challenges,thought Nietzsche, and it is the task of the
375.689_spl_philosopher to identify, and help solve, these.
379_spl_For Nietzsche, the 19th century was reeling under the impact
381.939_spl_of two developments: Mass Democracy
384.58_spl_and Atheism. The first
386.469_spl_threatened to unleash torrents of undigestedenvy; the second to
390.62_spl_leave humans without guidance or morality.
393.4_spl_In relation to both challenges, Nietzscheremains our endearing, fascinating often loveable
397.86_spl_and moustachioed guide.

In [26]:
print(plaintext(html1))

1.0" encoding="utf-8" ?>
5.4	The challenge begins with how to pronouncehis name.
8.21	The first bit should sound like ‘Knee’, the second like ‘cha’
11.65	Knee – cha.
12.86	Then we need to get past some of his extraordinaryand provocative statements:
16.62	‘What doesn’t kill me makesme stronger’
18.39	‘God is dead! And we have killed him.&amp;#39;
21.07	And his large moustache.
22.33	But when we do, we’ll discover a thinkerwho is intermittently enchanting, wise and
26.96	very helpful.
28.509	Friedrich Nietzsche was born in 1844 in aquiet village in the eastern part of Germany
32.99	where his father was the priest.
35.12	He did exceptionally well at school and university and so excelled at
38.47	ancient Greek that he was made a professor
40.53	at the University of Basel
42.05	when still only in his mid-twenties.
44.39	But his official career didn’t work out.He got fed up with his fellow academics, gave
48.59	up his job and moved to Sils Maria in theSwiss alps
51.86	where he lived quietly, working on his masterpieces,
54.57	among them:
55.34	The Birth of Tragedy,Human, All Too Human,
57.22	The Gay Science, Thus Spoke Zarathustra,
59.26	Beyond Good and Evil,On the Genealogy of Morals,
61.96	He had lots of problems:- he didn’t get on with his family:
64.78	&amp;#39;I don’t like my mother and it’s painfuleven for me to hear my sister’s voice.’
68.599	- women kept rejecting him.- his books didn’t sell
70.79	- And when he was only forty-four, he hada mental breakdown, precipitated when he saw
75.36	a horse in a Turin street being beaten by its driver
78.39	and ran over to embrace him shouting&amp;#39;I understand you&amp;#39;. He never recovered and
82.74	died eleven sad years later.
85.7	But his philosophy was full of heroism andgrandeur.
88.909	He was a prophet of what he called: SELBSTÜBERWINDUNG
91.96	or SELF-OVERCOMING, the process by which a great-souled
95.46	person - what he called an ÜBERMENSCH
97.92	rises above theircircumstances and difficulties to embrace
100.979	whatever life throws at them.
103.26	He wanted his work to teach us, as he putit, ‘how to become who we really are’.
108.21	His thought centers around 4 main recommendations:
113.18	Own up to envy
114.979	Envy is – Nietzsche recognised – a bigpart of life. Yet the lingering effects of
119.21	Christianity generally teaches to be feel ashamed
121.99	of our envious feelings. They seem an
124.08	indication of evil. So we hide them from ourselvesand others
128.22	Yet there is nothing wrong with envy, maintainedNietzsche, so long as we use it as a guide
132.75	to what we really want. Every person who makesus envious should be seen as an indication
137.889	of what we could one day become. The envy-inducingwriter, tycoon
142.239	or chef is hinting at who you are capable of one day being.
146.419	It&amp;#39;s not that Nietzsche believed we always end up getting what we want. His own life
150.409	had taught him this well enough). He simplyinsisted that we must face up to our true
154.749	desires, put up a heroic fight to honour them,and only then mourn failure with solemn dignity.
160.329	That is what it means to be an ÜBERMENSCH
163.129	2. Don’t be a Christian
165.45	Nietzsche had some extreme things to say about Christianity
168.2	‘In the entire New Testament, there
170.719	is only person worth respecting: Pilate, theRoman governor.’
175.4	It was knockabout stuff, but his true targetwas more subtle and more interesting: he resented
180.4	Christianity for protecting people from theirenvy.
184.719	Christianity had in Nietzsche’s accountemerged in the late Roman Empire
188.749	in the minds of timid slaves, who had lacked the stomach
191.669	to get hold of what they really wanted
193.959	and so had clung to a philosophy that made a virtue of their cowardice.
198.23	He called this SKLAVENMORAL
200.87	Christians - whom he rather rudely termedDIE HEERDE, the herd - had wished to
205.219	enjoy the real ingredients of fulfilment (aposition in the world, sex,
209.54	intellectual mastery, creativity)
211.26	but had been too ineptto get them.
213.939	They had therefore fashioned a hypocriticalcreed denouncing what
216.9	they wanted but were too weak to fight for
219.249	 – while praising what they did not want but happened
221.639	to have. So, in the Christian value system, sexlessness
225.519	turned into purity [show text changing] weaknessbecame goodness, submission-to-people-one-hates
230.359	became obedience and, in Nietzsche’s phrase,“not-being-able-to-take-revenge” turned
235.8	into “forgiveness.”
237.82	Christianity amounted to a giant machine forbitter denial.
242.22	3. Never drink alcohol
244.849	Nietzsche himself drank only water – andas a special treat, milk. And he thought we
249.159	should do likewise. He wasn’t making a small,
251.969	eccentric dietary point. The idea went tothe heart of his philosophy, as contained
256.28	in his declaration: ‘There have been twogreat narcotics in European civilisation:
261.24	Christianity and alcohol.’
263.7	He hated alcohol for the very same reasonsthat he scorned Christianity: because both
268.389	numb pain, and both reassure us that thingsare just fine as they are, sapping us of the
273.199	will to change our lives for the better. Afew drinks usher in a transient feeling of
277.59	satisfaction that can get fatally in the wayof taking the steps necessary to improve our
282.09	lives.
283.479	Nietzsche was obsessed with the awkward truththat getting really valuable things done hurts.
288.46	“How little you know of human happiness- you comfortable people” he wrote
293.08	“The secret of a fulfilled life is: live
296.009	dangerously! Build your cities on the slopesof Mount Vesuvius!”
300.68	4. “God is Dead”
303.14	Nietzsche’s dramatic assertion that Godis dead is not, as it’s often taken to be,
307.72	some kind of a celebratory statement.
310.64	Despite his reservations about Christianity,Nietzsche did not think that the end of belief
314.849	was anything to cheer about.
316.929	Religious beliefs were false, he knew; buthe observed that they were very beneficial
321.96	in the sense of helping us cope with the problemsof life.
325.2	Nietzsche felt that the gap left by religionshould ideally be filled by Culture (he meant:
330.22	philosophy, art, music, literature): Culture should replace Scripture.
334.7	However, Nietzsche was deeply suspicious ofthe way his own era was handling culture.
339.61	He believed the universities were killing the humanities,
342	turning them into dry academic exercises,
344.8	rather than using them for what they were always meant to be:
347.9	guides to life. He admired
349.699	the way the Greeks had used tragic drama in a practical, therapeutic way,
353.68	as an occasion for catharsis and moral education– and wished his own age to be comparably
358.65	ambitious.
359.789	He called for a reformation, in which people– newly conscious of the crisis brought
363.58	on by the end of faith – would fill thegaps created by the disappearance of religion
367.96	with philosophy and art.
370.96	Every era faces particular psychological challenges,thought Nietzsche, and it is the task of the
375.689	philosopher to identify, and help solve, these.
379	For Nietzsche, the 19th century was reeling under the impact
381.939	of two developments: Mass Democracy
384.58	and Atheism. The first
386.469	threatened to unleash torrents of undigestedenvy; the second to
390.62	leave humans without guidance or morality.
393.4	In relation to both challenges, Nietzscheremains our endearing, fascinating often loveable
397.86	and moustachioed guide.